*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#header{
	display: flex;
	background: white;
	align-items: center;	
}

.mylogo{
	height: 100px;
	flex: 1;
}

.title{
	flex: 6;
	color: green;
}

.main-title{
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;

}

.main-title a{
	font-size: 30pt;
	text-decoration: none;
	font-weight: bold;
	color: green;
	transition: 1s ease;
}

.main-title a:hover{
	color: brown;
}

#navbar{
	background-color: khaki;
	padding: 10px 0;
}

.links{
	display: flex;
	justify-content: space-around;
}

.link{
	list-style: none;
}

.link a:hover{
	color: brown;
}

.link a{
	text-decoration: none;
	font-weight: bold;
	color: green;
	font-size: 20px;
}

.hamburger{
	display: none;
	cursor: pointer;
}

.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease;
	background-color: green;
}

@media(max-width: 768px){
	.hamburger{
		display: block;
	}

	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}

	.links{
		position: fixed;
		left: -100%;
		top: 142px;
		gap: 0;
		flex-direction: column;
		background-color: khaki;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}

	.link{
		margin: 16px 0;
	}

	.links.active{
		left: 0;
	}
}

section{
	background-image: url(images/background.jpg);
	background-position: center;
	background-size: cover;
	height: 500px;
	background-repeat: no-repeat;	
}

.slogan{
	padding: 30px 0 0 100px;
	font-size: 70px;
	color: #5a2d0c;
	font-weight: normal;
	font-family: Bodoni;
	font-style: italic;
	width: 40%
}

.board{
	background: khaki;
	padding-bottom: 50px;
}

.process{
	text-align: center;
	padding-top: 50px;
	color: green;
	font-style: italic;
}

.containers{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
}

.container{
	display: flex;
	flex-direction: column;
	width: 305px;
}

.step{
	padding-top: 10px;
	padding-bottom: 10px;
	font-style: italic;
	text-align: center;
	color: green;
}

.image{
	border-radius: 20px;
}

.aboutus{
	background-color: khaki;
	text-align: center;
	padding-bottom: 30px;
	border-top: 2px dotted brown;
}

.aboutus h1{
	color: green;
	padding-top: 20px;
	font-style: italic;
}

.aboutus p{
	width: 50%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.aboutus button{
	width: 100px;
	height: 30px;
	border: 2px solid brown;
	color: brown;
	background-color: white;
	font-weight: bold;
	cursor: pointer;
}

.aboutus button:hover{
	background-color: green;
	color: white;
	cursor: pointer;
}

.subscription{
	background-image: url(images/register.jpg);
	background-position: center;
	background-size: cover;
	height: 300px;
	background-repeat: no-repeat;
	border-top: 2px solid brown;
}


.subscription p{
	width: 33%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
	font-size: 20px;
	font-style: italic;
}

.subscribe-btn{
	width: 150px;
	height: 50px;
	background-color: white;
	font-size: 16px;
	font-weight: bold;
	color: brown;
	border: 2px solid brown;
	margin: auto;
	display: block;
	transition: 1s ease;
}

.subscribe-btn:hover{
	background-color: green;
	color: white;
	cursor: pointer;
}

.main-menu{
	background: white;
}

.menu{
	text-align: center;
	background: white;
	padding-top: 50px;
	padding-bottom: 15px;
	border-top: 2px solid brown;
}

.menu a{
	text-decoration: none;
	font-weight: bold;
	color: green;
}

.ourmenu{
	font-size: 26pt;
}

.ourmenu:hover{
	color: brown;
}

.boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 90%;
	margin: auto;
	background: white;
}

.boxes a{
	text-decoration: none;
	font-weight: bold;
	color: green;
}

.boxes a:hover{
	color: brown;
}

.box h3{
	text-align: center;
	padding-top: 8px;
}

.icon:hover{
	transform: scale(1.2);
	cursor: pointer;
}

#footer{
	background-color: white;
	border-top: 2px solid brown;
	margin-top: 50px;
	padding-top: 50px;
}


.footertitle{
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 30pt;
	text-align: center;
	color: green;
	margin-top: 30px;
	padding-top: 15px;
}

.footerboard{
	display: flex;
	justify-content: flex-start;
	width: 80%;
	margin: auto;
}

.footerparts{
	padding-right: 50px;
}

.part-title{
	text-decoration: none;
	color: black;
}

.part-title:hover{
	color: brown;
}

.footerparts ul{
	list-style: none;
	padding-top: 5px;
}

.partsbottom{
	text-decoration: none;
	color: black;
}

.partsbottom:hover{
	color: green;
}

.copyright{
	padding-bottom: 15px;
	text-align: center;
	color: green;
}

.scrollbtn{
	width: 90px;
	height: 90px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	border-radius: 50%;
	cursor: pointer;
	background: white;
	border: 2px solid #5a2d0c;
	display: none;
	justify-content: center;
	align-items: center;
}

.scrollbtn img{
	width: 60px;
	height: 60px;
}